<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear Producto</title>
  <link rel="stylesheet" href="/admin-panel.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/1820af2c0e.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("partials/navbar.ejs")%>
  <main class="container mt-5 text-white">
    <h2 class="mb-4">Agregar Producto</h2>

    <form id="productCreate" method="POST" enctype="multipart/form-data" class="bg-dark p-4 rounded shadow">
      
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del producto</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>

      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
      </div>

      <div class="mb-3">
        <label for="stock" class="form-label">Stock disponible</label>
        <input type="number" class="form-control" id="stock" name="stock" required>
      </div>

      <div class="mb-3">
        <label for="plataforma" class="form-label">Plataforma</label>
        <select class="form-select" id="plataforma" name="plataforma" required>
          <option value="">Elige una opción</option>
          <option value="PS5">PlayStation 5</option>
          <option value="Xbox Series X">Xbox Series X</option>
          <option value="Nintendo Switch">Nintendo Switch</option>
          <option value="PC">PC</option>
        </select>
      </div>

      
    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo</label>
      <select name="tipo" id="tipo" class="form-select" required>
        <option value="">Elige una opción</option>
        <option value="videojuego">Videojuego</option>
        <option value="DLC">DLC</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="idioma" class="form-label">Idioma</label>
      <input type="text" class="form-control" id="idioma" name="idioma" required>
    </div>

    <div class="mb-3">
      <label for="genero" class="form-label">Género</label>
      <select class="form-select" id="genero" name="genero" required>
        <option value="">Elige una opción</option>
        <option value="Acción">Acción</option>
        <option value="Aventura">Aventura</option>
        <option value="Deportes">Deportes</option>
        <option value="Estrategia">Estrategia</option>
        <option value="RPG">RPG</option>
        <option value="Simulación">Simulación</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="lanzamiento" class="form-label">Fecha de lanzamiento</label>
      <input type="date" class="form-control" id="lanzamiento" name="lanzamiento" required>
    </div>
    
    <div class="mb-3">
      <label for="desarrollador" class="form-label">Desarrollador</label>
      <textarea class="form-control" id="desarrollador" name="desarrollador" rows="3" required></textarea>
    </div>

    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen del producto</label>
      <input type="file" class="form-control" id="imagen" name="imagen" required>
    </div>


      <button type="submit" class="btn btn-warning fw-bold">Guardar Cambios</button>
    </form>
  </main>


  <%- include("partials/footer.ejs")%>
</body>

<script>
  const formCrearProducto = document.getElementById('productCreate');

  formCrearProducto.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData();

    formData.append("nombre", document.getElementById("nombre").value);
    formData.append("precio", document.getElementById("precio").value);
    formData.append("stock", document.getElementById("stock").value);
    formData.append("plataforma", document.getElementById("plataforma").value);
    formData.append("tipo", document.getElementById("tipo").value);
    formData.append("idioma", document.getElementById("idioma").value);
    formData.append("genero", document.getElementById("genero").value);
    formData.append("lanzamiento", document.getElementById("lanzamiento").value);
    formData.append("desarrollador", document.getElementById("desarrollador").value);

    const imagenInput = document.getElementById("imagen");
    if (imagenInput.files.length > 0) {
      formData.append("imagen", imagenInput.files[0]);
    }

    try {
      const response = await fetch(`/api/products/create`, {
        method: 'POST',
        body: formData,
      });

      const data = await response.json();
      console.log(data);
      if (response.ok) {
        alert('Producto creado exitosamente!');
        window.location.href = '/api/views/index';
      } else {
       alert(data.message || data.error || data.details || 'Error al crear el producto');
      }
    } catch (err) {
      console.error(err);
      alert('Error en la solicitud');
    }
  });
</script>
</html>
