<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="assets/img/InsertCoinLight.png" alt="Insert Coin Logo">
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-center">
        
        <li class="nav-item">
          <a class="nav-link" href="carrito.html">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admin Login</a>
        </li>
        <li class="nav-item">
          <div class="inputBox">
            <input class="searchInput" placeholder="Buscar Juego" />
             <i class="fa-solid fa-magnifying-glass searchIcon"></i>
          </div>
        </li>
        <li class="nav-item">
          <label for="consola" class="platform-label">Plataforma:</label>
          <select id="consola" class="platform-select">
            <option value="" disabled selected>Elige una opción</option>
            <option value="all">Todas</option>
            <option value="PS5">PlayStation 5</option>
            <option value="Xbox Series X">Xbox Series X</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="PC">PC</option>
          </select>
        </li> 
        <button id="themeToggle" class="btn-theme">
          <i class="fa-solid fa-moon"></i>
        </button>

      </ul>
    </div>
  </nav>