@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Variable.ttf');
}
@font-face {
  font-family: 'Nippo';
  src: url('../assets/fonts/Nippo-Variable.ttf');
}

:root {
  --color-bg: #223440;
  --color-texto-rojo: #9B2915;
  --color-boton: #C28C17;
  --color-texto: #ffffff;
  --color-card-bg: #1c2a35;
  --color-secundario: #ccc;
}

[data-theme="light"] {
  --color-bg: #F4F2EE;
  --color-texto-rojo: #BF3C2C;
  --color-boton: #C28C17;
  --color-texto: #222222;
  --color-card-bg: #ffffff;
  --color-secundario: #444444;
}

body {
  background: var(--color-bg);
  font-family: 'Clash Display', sans-serif;
  color: var(--color-texto);
  margin-top: 40px;
}

h5, h3, h1, h2, th, td {
  font-family: 'Nippo', sans-serif;
}

.recibo-main {
  background: var(--color-card-bg);
  border-bottom: 12px solid #1c1c1c;
  border-top: 12px solid var(--color-texto-rojo);
  box-shadow: 0 1px 21px rgba(0,0,0,0.2);
  padding: 40px 30px;
  margin: auto;
  max-width: 700px;
  color: var(--color-texto);
}

.recibo-header,
.recibo-header-mid,
.recibo-footer {
  margin-bottom: 2rem;
}

.recibo-right p i {
  width: 18px;
  text-align: center;
}

.recibo-main thead {
  background: #1b2b36;
}

.recibo-main thead th {
  color: #000;
}

.text-danger strong {
  color: var(--color-boton);
}

.btn-container{ 
  text-align: center;
  margin: 2rem 0;
}
.btn-warning {
  background-color: var(--color-boton);
  border: none;
  font-weight: bold;
  margin-right: 15px;
}

.btn-warning:hover {
  background-color: #dba126;
}
.btn-goBack {
  background-color: transparent;
  color: var(--color-texto);
  border: 1px solid #fff;
  margin-left: 15px;
 
}

.btn-goBack:hover {
  background-color: #dba126;
}
